<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Inclusion de la "head" ( ouverture du tag body , ...) -->
    {{ partial "head.html" . }}

</head>

<body>

    <!-- Inclusion du " header " (navbar , ...) -->
    {{ partial "header.html" . }}

    <!-- Inclusion Aside -->
    {{ partial "aside.html" . }}

    <!-- Le " Contenu " de votre page -->

    <div class="flex-container">


        <!-- Effectue une boucle sur TOUTES les pages du site -->
        {{ range .Data.Pages }}
        <!-- SI la page est une association -->
        {{ if eq .Type "associations" }}


        <div class="container_list_associations">
            <div style="float: right;">
                <div>
                    <a href="{{ .Permalink }}">
                        <p class="association_title">{{ .Title }}</span></p>
                    </a>
                </div>
                <p class="domain">{{ .Param "domain" }}</p>
            </div>
            <a href="{{ .Permalink }}">
                <div class="association_icon">
                    <img src="{{ .Params.icon }}" display: block; margin-left: auto; margin-right: auto;
                        alt="{{ .Title }}">
                </div>
            </a>
        </div>


        {{ end }}
        <!-- Fin if -->
        {{ end }}
        <!-- Fin range -->

    </div>

    <!-- Inclusion du " footer " ( fermeture du tag body , ...) -->
    {{ partial "footer.html" . }}

</body>

</html>