<div class="container_footer">
  <!--Section: Contact v.1-->
  <section class="section pb-5">
    <div class="footer_start">
      <div class="container_footer_start">
        <!--Section heading-->
        <h2>Contact</h2>
        <!--Section description-->
      </div>
    </div>

    <!---------- CONTACT FORM ---------->

    <div class="row" id="row_footer">
      <!--Grid column-->
      <div class="col-lg-5 mb-4">
        <iframe
          src="https://docs.google.com/forms/d/e/1FAIpQLSd4q9wmRdReh6COtS0-BsXO_eW7aGYPu_e9ihZe86Wr-JPc5g/viewform?embedded=true"
          width="100%" height="777px" frameborder="0" allowfullscreen></iframe>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-7">
        <!--Google map-->
        <div id="map-container-google-11" class="z-depth-1-half map-container-6" style="height: 635px">
          <iframe
            src="https://maps.google.com/maps?q=29%20rue%20de%20Rivoli%20paris&t=&z=17&ie=UTF8&iwloc=&output=embed"
            frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

        <br />
        <!--Buttons-->
        <div class="row text-center">
          <div class="col-md-4">
            <a class="btn-floating blue accent-1"><i class="fas fa-map-marker-alt"></i></a>
            <p>29 rue de Rivoli</p>
            <p>Paris, 75004</p>
          </div>

          <div class="col-md-4">
            <a class="btn-floating blue accent-1"><i class="fas fa-phone"></i></a>
            <p>+33 4 72 10 30 30</p>
            <p>Lun. - Dim. / 10h00-19h00</p>
          </div>

          <div class="col-md-4">
            <a class="btn-floating blue accent-1"><i class="fas fa-envelope"></i></a>
            <p>info@gmail.com</p>
            <p>info2@gmail.com</p>
          </div>
        </div>
      </div>
      <!--Grid column-->
    </div>
  </section>
  <!--Section: Contact v.1-->
</div>

<!------------------------------------------------------------->

<!-- Footer -->
<footer class="page-footer">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright</div>
  <!-- Copyright -->
</footer>
<!-- Footer -->